.snowflake-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.snowflake-far {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  animation: fall 60s linear infinite;
  z-index: 1;
  opacity: 0.5;
}

.snowflake-mid {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: fall 30s linear infinite;
  z-index: 2;
  opacity: 0.7;
}

.snowflake-near {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  animation: fall 15s linear infinite;
  z-index: 3;
  opacity: 0.9;
}

@keyframes fall {
  from { 
    transform: translateY(-100px); 
  }
  to { 
    transform: translateY(720px);
  }
}