.snowflake-far {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 92, 229, 0.5);
  background-repeat: repeat-x;
  animation: drift 60s linear infinite;
  z-index: 1;
  opacity: 0.5; 
}

.snowflake-mid {
  position: absolute;
  width: 100%;
  height: 100%;
 background-color: rgba(56, 70, 26, 0.5);
  background-repeat: repeat-x;
  animation: drift 30s linear infinite;
  z-index: 2;
  opacity: 0.7;
}

.snowflake-near {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 27, 27, 0.5);
  background-repeat: repeat-x;
  animation: drift 15s linear infinite; 
  z-index: 3;
  opacity: 0.9;
}

.building {
  position: absolute;
  z-index: 4;
}

@keyframes drift {
  from { background-position: 0 0; }
  to { background-position: -320px 0; }
}