*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
}

.animation {
	background-color: white;
	height: 240px;
	width: 320px;
	margin: auto;
	border: 2px ridge gray;
}

.sky {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: deepskyblue;
	overflow: hidden;
	opacity: 100%;
}

.sun {
	position: absolute;
	top: 80px;
	left: -40px;
	background-color: yellow;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	animation: moveSun 12s linear infinite;
}

@keyframes moveSun {
	0% {
		left: -120px;
		top: 60px;
	}
	25% {
		left: 20px;
		top: 25px;
	}
	50% {
		left: 120px;
		top: 10px;
	}
	75% {
		left: 220px;
		top: 25px;
	}
	100% {
		left: 360px;
		top: 60px;
	}
}

.moon {
	position: absolute;
	top: 80px;
	left: -40px;
	background-color: azure;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	animation: moveMoon 12s linear infinite;
}

@keyframes moveMoon {
	0% {
		left: -120px;
		top: 60px;
	}
	25% {
		left: 20px;
		top: 25px;
	}
	50% {
		left: 120px;
		top: 10px;
	}
	75% {
		left: 220px;
		top: 25px;
	}
	100% {
		left: 360px;
		top: 60px;
	}
}

.land {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	width: 320px;
	background-color: darkgreen;
}

.bg {
	background-color: antiquewhite;
	height: 100%;
}

.text-fade {
	color: brown;
	text-align: center;
	animation: fadeText 2s linear infinite;
}

@keyframes fadeText {
	0% {
		opacity: 100%;
	}
	25% {
		opacity: 50%;
	}
	50% {
		opacity: 0%;
	}
	75% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}
