*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--text-color: rgb(75, 43, 192);
	--bg-color: rgb(118, 224, 216);
	--highlight-color: rgb(180, 49, 121);
	--sun-color: rgb(228, 183, 37);
	--sky-color: rgb(118, 170, 216);
	--moon-color: rgb(220, 233, 245);
}

html {
	height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	height:100%;
	max-width: 960px;
	background-color: var(--bg-color);
	margin: auto;
}

main {
	display: flex;
	flex-direction: column;
	height: 90vh;
	max-width: 960px;
	width: 100vw;
}

button {
	width: 75px;
	height: 40px;
}
header {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 6vh;
}
.nav {
	background-color: var(--highlight-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 4vh;
}
ul,
ol {
	list-style: none;
}

li {
	display: flex;

	height: 40px;
	width: 75px;
	justify-content: center;
	align-items: center;
}

/* animations */

.animation {
	background-color: white;
	height: 240px;
	width: 320px;
	margin: auto;
	border: 2px ridge gray;
}

.sky {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: deepskyblue;
	overflow: hidden;
	opacity: 100%;
}

.sun {
	position: absolute;
	top: 80px;
	left: -40px;
	background-color: yellow;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	animation: moveSun 12s linear infinite;
}

@keyframes moveSun {
	0% {
		left: -120px;
		top: 60px;
	}
	25% {
		left: 20px;
		top: 25px;
	}
	50% {
		left: 120px;
		top: 10px;
	}
	75% {
		left: 220px;
		top: 25px;
	}
	100% {
		left: 360px;
		top: 60px;
	}
}

.moon {
	position: absolute;
	top: 80px;
	left: -40px;
	background-color: azure;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	animation: moveMoon 12s linear infinite;
}

@keyframes moveMoon {
	0% {
		left: -120px;
		top: 60px;
	}
	25% {
		left: 20px;
		top: 25px;
	}
	50% {
		left: 120px;
		top: 10px;
	}
	75% {
		left: 220px;
		top: 25px;
	}
	100% {
		left: 360px;
		top: 60px;
	}
}

.land {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	width: 320px;
	background-color: darkgreen;
}

.text-fade {
	color: brown;
	text-align: center;
	animation: fadeText 2s linear infinite;
}

@keyframes fadeText {
	0% {
		opacity: 100%;
	}
	25% {
		opacity: 50%;
	}
	50% {
		opacity: 0%;
	}
	75% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}
