*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--text-color: hsl(253, 63%, 46%);
	--bg-color: hsl(175, 63%, 67%);
	--highlight-color: hsl(327, 57%, 45%);
	--sun-color: hsl(60, 100%, 50%);
	--sky-color: hsl(208, 56%, 65%);
	--moon-color: hsl(209, 56%, 91%);
}

html {
	height: 100%;
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	max-width: 960px;
	background-color: var(--bg-color);
	margin: auto;
}

main {
	display: flex;
	flex-direction: column;
	height: 90vh;
	max-width: 960px;
	width: 100vw;
}

button {
	width: 75px;
	height: 40px;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6vh;
}
.nav {
	background-color: var(--highlight-color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 4vh;
}
ul,
ol {
	list-style: none;
}

li {
	display: flex;

	height: 40px;
	width: 75px;
	justify-content: center;
	align-items: center;
}

/* animations */

.animation {
	background-color: var(--bg-color);
	height: 240px;
	width: 320px;
	margin: auto;
	border: 2px ridge var(--highlight-color);
}

.sky {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: var(--sky-color);
	overflow: hidden;
	opacity: 100%;
}

.sun {
	position: absolute;
	background-color: yellow;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	offset-path: path("M 400 100 A 20 5 0 0 0 -40 100");
	animation: moveSun 12s linear infinite;
}

@keyframes moveSun {
	0% {
		offset-distance: 0%;
	}
	50%, 100% {
		offset-distance: 100%;
	}
}

.moon {
	background-color: azure;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	animation: moveMoon 12s linear infinite;
	offset-path: path("M 400 100 A 20 5 0 0 0 -40 100");
}

@keyframes moveMoon {
	0%, 50% {
		offset-distance: 0%;
	}
	100% {
		offset-distance: 100%;
	}
}

.land {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	width: 320px;
	background-color: darkgreen;
}

.text-fade {
	color: brown;
	text-align: center;
	animation: fadeText 2s linear infinite;
}

@keyframes fadeText {
	0% {
		opacity: 100%;
	}
	25% {
		opacity: 50%;
	}
	50% {
		opacity: 0%;
	}
	75% {
		opacity: 50%;
	}
	100% {
		opacity: 100%;
	}
}
